/*body {
  background: url("../images/photo_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  color: #666;
  }*/

  /* Typography */
  h2 {
    text-transform: uppercase !important;
    color: black !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    font-size: 1.4em !important;
    line-height: 2.8em !important;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: #aeaeae;
  }

  p.small {
    font-size: 0.8em;
    margin: 20px 0 0;
  }


  /* Layout */
  .container {
    margin: 0;
  }

  .imageClassLogin {
    text-align: center;
  }

  .imageClassLogin img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .imageClassHome {
    text-align: center;
  }

  .imageClassHome img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .tabDiv {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .login-box {
    background-color: white !important;
    max-width: 340px !important;
    margin: 0 auto !important;
    position: relative !important;
    top: 20px !important;
    bottom: 20px;
    padding-bottom: 30px !important;
    border-radius: 5px !important;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4) !important;
    text-align: center !important;
  }

  .login-box .box-header {
    background-color: #ff4233;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
  }

  .login-box label {
    font-weight: 700;
    font-size: .8em;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
  }

  .login-box input {
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .9em;
    color: #888;
  }

  .login-box input:focus {
    outline: none;
    border-color: #665851;
    transition: 0.5s;
    color: #665851;
  }

  .login-box button {
    margin-top: 0px;
    border: 0;
    border-radius: 2px;
    color: black;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7em;
    letter-spacing: 1px;
    background-color: #ff4233;
    cursor:pointer;
    outline: none;
  }

  .login-box button:hover {
    opacity: 0.7;
    transition: 0.5s;
  }

  .login-box button:hover {
    opacity: 0.7;
    transition: 0.5s;
  }

  .selected {
    color: #665851!important;
    transition: 0.5s;
  }

  /* Animation Delay */
  #logo {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
  }

  .login-box {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
  }

  #sendBtn {
    float: right;
  }

  #signUpBtn {
    float: right;
  }

  #signOut {
    float: right;
  }

.currentEvents p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 50px;
  font-size: 4vw;
}

hr.cStyle {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr.uStyle {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.upcomingEvents p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 50px;
  font-size: 4vw;
}

.navbar-default {
  background-color: #FA8072 !important;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: black !important;
}

.navbar-default .navbar-nav > .active > a {
    background-color: white !important;
    color: black !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white !important;
    color: black !important;
}

.navbar-default .navbar-header > a {
    color: black !important;
}

.navbar-default .navbar-header > button:hover {
  background-color: white !important;
}

  .navbar-default .navbar-header .icon-bar {
  background-color: black !important;
}

/* XS, SM */
@media (max-width: 991px) {

  .upcomingEvents .col-xs-6 {
    padding-top: 180%;
  }
}

/* New Layout */
body {
  font-size:16px;
}

.w3-half img {
  margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer
}
.w3-half img:hover {
  opacity:1
}

.w3-main {
  margin-left:340px;margin-right:40px
}

#statistics table {
  overflow-y: auto;
}

#cipHour {
  font-size: 50px;
}

#ep {
  text-align: center;
}

#cp {
  text-align: center;
}

 /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 

/* Image CSS */


/* New Layout */
